.Messenger {
  height: calc(100vh - 70px);
  display: flex;
}

.chatMenu {
  flex: 3.5;
}

.chatBox {
  flex: 5.5;
}

.chatOnline {
  flex: 3;
}

.chatMenuWrapper,
.chatOnlineWrapper,
.chatBoxWrapper {
  padding: 10px;
  height: 100%;
}

.chatMenuInput {
  width: 90%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid grey;
}